
/* 顶头广告 */
header .banner{
	width: 100%;
	height: 120px;
	background: url(https://i1.mifile.cn/a4/cms_15270400062082_IKomG.jpg) no-repeat center;
}
/* 顶栏 */
.topbar{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.topbar .container{
	width: 1230px;
	height: 100%;
	margin:0 auto;
	line-height: 40px;	font-size: 12px;
}
.topbar .container ul{
	height: 100%;
}
.topbar .container ul a,.topbar .container ul a:visited{
	color: #b0b0b0;
}
.topbar .container ul li:nth-last-child(n + 2):after{
	content: '|';
	font-weight: bold;
	color:#42423f;
	margin:0 6px;
	cursor: text;
}
.topbar .container ul li a{
	cursor: pointer;
}
.topbar .container ul li a:hover{
	color:#fff;
}
/* 左侧链接 */
.topbar .container .serve{
	width: 540px;
}
.topbar .container .serve,.topbar .container .serve li{
	float: left;
}
/* 右侧链接 */
.topbar .container .personnal{
	width: 150px;
	float: right;
}
.topbar .container .personnal li{
	float: left;
}
/* 购物车 */
.topbar .container .cart>span{
	float: right;
	display: inline-block;
	width: 130px;
	height: 100%;
	background-color: #424242;
	text-align: center;
	cursor:pointer;
	position: relative;
}
.topbar .container .cart:link,.topbar .container .cart:visited{
	color: #b0b0b0;
}
.topbar .container .cart i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(mi/cart-normoal.png) no-repeat center;
	background-size:20px;
	vertical-align: middle;
	margin-right:1px;
}
.topbar .container .cart:hover>span{
	background-color: #fff;
}
.topbar .container .cart:hover{
	color: #ff6670;
}
.topbar .container .cart:hover i{
	background-image: url(mi/cart-hover.png);
}
/* 购物车内容面板 */
.topbar .container .cart .cart-content{
	width: 300px;
	height: 0;
	background-color: #fff;
	position: absolute;
	right: 0;
	text-align: center;
	line-height: 100px;
	color: #424242;
	z-index: 10;
	transition:height .3s linear;
}
.topbar .container .cart .cart-content>span{
	visibility: hidden;
	transition-delay:visibility .3s;
}
.topbar .container .cart:hover .cart-content{
	box-shadow: 0px 3px 3px 1px #efefef;
	height: 100px;
	transition:height .3s linear;
}
.topbar .container .cart:hover .cart-content>span{
	visibility: visible;
	transition-delay: .3s;
}

/* 导航 */
nav{
	width: 100%;
	height: 104px;
	position: absolute;
}
.nav-wrapper{
	width: 1230px;
	height: 104px;
	margin:0 auto;
}
.nav-wrapper .nav-logo{
	display: inline-block;
	background-color: rgb(251, 79, 9);
	width: 50px;
	height: 50px;
	background-image: url(mi/milogo.png), url(mi/mi-home.png);
	background-image: center;
	background-repeat: no-repeat;
	margin-top:27px;
	background-position: 1px 2px, 50px 0;
	transition: .2s;
}
.nav-wrapper .nav-logo:hover{
	background-position: -50px 0, 0 2px;
}
.nav-wrapper .nav{
	display: inline-block;
	width: 800px;
	height: 100%;
	line-height: 104px;
	text-align: center;
	margin:0 0 0 100px;
	vertical-align: top;
	position: relative;
}
.nav-wrapper .nav a:link,.nav-wrapper .nav a:visited{
	color: #333;
}
.nav-wrapper .nav a:hover{
	color: #ff6700;
}
.nav-pd-list{
	width: 100%;
	height: 228px;
	background-color: #fff;
	position: absolute;
	z-index: 99;
	border-top:1px solid #ccc;
}
.nav-wrapper .nav a:hover ~ .nav-pd-list{
	display: block;
}
.nav-wrapper .nav a{
	text-align: center;
	margin-right: 20px;
}
.nav-wrapper .nav li{
	display: inline-block;
}
.nav-wrapper .nav a:last-child{
	margin:0;
}
/* 搜索栏 */
.search-wrapper{
	position: absolute;
	right: calc(50% - 616px);
	top:24px;
	display: inline-block;
	width: 282px;
	height: 52px;
}
.search-wrapper label{
	position: absolute;
	display: inline-block;
	width: 280px;
	height: 50px;
	border:1px solid #e0e0e0;
	cursor: text;
}
.search-wrapper label:hover{
	border-color: #b0b0b0;
	transition: border-color .2s;
}
#search{
	position: absolute;
	left: 4px;
	top:5px;
	width: 202px;
	height: 42px;
	border:none;
	padding: 0 10px;
	margin: 0;
}
.btn-search{
	display: inline-block;
	width: 52px;
	height: 52px;
	border-left:1px solid #e0e0e0;
	position: absolute;
	right: -1px;
	top:-1px;
	z-index: 1;
	box-sizing: border-box;
	background:url(mi/search-normal.png) no-repeat center;
	background-size: 50%;
}
.search-wrapper label:hover .btn-search{
	border-color: #b0b0b0;
	transition: border-color .2s;
}
.btn-search:hover{
	background-color: #ff6700;
	background-image:url(mi/search-hover.png);
	transition:background-image .1s linear,background-color .1s linear;
	border:0;
	cursor: pointer;
}

#search:focus ~ *{
	border-color:#ff6670;
}
#search:focus ~ label .btn-search{
	border-color:#ff6670;
}
#search:focus ~ .hot{
	display: none;
}
#search:focus ~ .search-list{
	display: block;
}
/* 热搜关键词 */
.hot{
	z-index: 3;
	display: inline-block;
	width: 150px;
	position: absolute;
	font-size:12px;
	right: 60px;
	text-align: right;
	height: 50px;
	line-height: 50px;
}
.hot a:link,.hot a:visited{
	color: #757575;
}
.hot a span{
	display: inline-block;
	padding: 0 5px;
	height: 20px;
	margin:0 3px;
	line-height: 20px;
	text-align: center;
	background-color: #eee;
}
.hot a span:hover{
	cursor: pointer;
	background-color: #ff6700;
	color: #fff;
}
.search-list{
	width: 229px;
	height: 300px;
	border:1px solid #ff6700;
	border-top:none;
	position: absolute;
	top: 52px;
	left: 0;
	display: none;
	z-index: 5;
	background-color: #fff;
}
.search-list li{
	width: calc(100% - 2px);
	height: 30px;
	line-height: 30px;
	margin:0 auto;
}
.search-list a{
	display: inline-block;
	width: calc(100% - 40px);
	height: 100%;
	font-size: 12px;
	padding: 0 20px;
}
.search-list li a span:first-child{
	color: #494949;
}
.search-list li a span:last-child{
	color: #b0b0b0;
	float: right;
}
.search-list li:hover{
	background-color: #fafafa;
}
/* 主体 */
main{
	width: 1230px;
	margin:0 auto;
	margin-top: 104px;
}
/* 菜单和图片轮播 */
main .slider{
	width: 100%;
	height: 460px;
	position: relative;
	overflow: hidden;
}
.slider .menu{
	width: 234px;
	height:420px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	z-index:10;
	padding: 20px 0;
}
.slider .menu li{
	width: calc(100% - 50px);
	height: 42px;
	padding-left: 30px;
	padding-right: 20px;
	cursor: pointer;
	line-height: 42px;
}
.slider .menu li:after{
	display: inline-block;
	content: '';
	width: 20px;
	height: 20px;
	background-color: pink;
	float: right;
	margin-top: 11px;
	background: url(mi/arrow-right.png) no-repeat center;
	background-size: 20px;
	opacity: 0.5;
}
.slider .menu li:hover{
	background-color: #ff6700;
}
.slider .menu li a,.slider .menu li a:visited,.slider .menu li a:focus{
	color: #fff;
	font-size:14px;
}
.slider img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
/*.slider img#playPic1{
	opacity: 1;
}*/
.slider img:target{
	opacity: 1;
	transition:opacity .6s ;
}
.slider img:not(:target){
	opacity: 0;
	transition:opacity .6s;
}
#playPic1{
	opacity: 1;
}
.btn-change-play{
	position: absolute;
	z-index: 111;
	width: 160px;
	height: 10px;
	bottom: 30px;
	right: 40px;
	text-align: right;
}
.btn-change-play li{
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	margin-left: 10px;
	opacity: 0.5;
	cursor: pointer;
}
.btn-change-play li a{
	display: inline-block;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	border:2px solid #b0b0b0;
}
.btn-change-play li a:hover{
	background-color: #fff;
	border-color: #272822;
	transition: .1s linear;
}

/* 中部产品宣传 */
.medium-products{
	margin-top: 15px;
	font-size: 0;
}
.medium-products div{
	display: inline-block;
}
.medium-products .server{
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 234px;
	height: 171px;
	background-color: #5f5750;
	font-size: 0;
}
.server li{
	display: inline-block;
	width: 66px;
	height: 85px;
	margin-left:9px;
	vertical-align: top;
	font-size: 12px;
}
.server li:nth-child(-n + 3){
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.server li a{
	display: block;
	width: 71px;
	height: 72px;
	margin-top: 9px;
	text-align: center;
	overflow: hidden;
}
.server li a:link,.server li a:visited{
	color:#fff;
}
.server li:nth-child(-n+2) a,.server li:nth-last-child(-n+3):nth-last-child(n+2) a{
	border-right: 1px solid rgba(255,255,255,0.1);
}
.server li a img{
	display: block;
	width: 35%;
	margin:0 auto;
	margin-top:14px;
	margin-bottom: 2px;
	opacity: 0.7;
}
.server li a span{
	opacity: 0.7;
}
.server li a:hover span,.server li a:hover img{
	opacity: 1;
	transition: opacity .2s linear;
}
.medium-products>div{
	display: inline-block;
	width: 317px;
	height: 171px;
	margin-left: 15px;
	vertical-align: top;
}
.medium-products>div img{
	height: 100%;
}
.medium-products>div:hover{
	box-shadow: 0px 10px 30px 0px #ddd;
	transition: box-shadow .2s;
}

/* 小米闪购 */
.flash-go{
	width: 100%;
	height: 385px;
	margin-top: 15px;
	font-size:0;
}
.title,.page{
	display: inline-block;
	width: 50%;
	height: 40px;
	margin-bottom: 5px;
	font-weight: lighter;
	vertical-align: top;
	line-height: 40px;
}
.title{
	font-size: 24px;
}
.page{
	text-align: right;
}
.page input{
	display: none;
}
.page span{
	display: inline-block;
	width: 34px;
	height: 22px;
	border:1px solid #E0E0E0;
	vertical-align: middle;
}
.page .left span{
	border-right: none;
	background: url(mi/arrow-left-normal.png) no-repeat center;
	background-size:60% ;
}
.page .left:hover span{
	background-image: url(mi/arrow-left-hover.png);
}
.page .left input:checked ~ span{
	background-image: url(mi/arrow-left-active.png);
}
.page .right span{
	background: url(mi/arrow-right-normal.png) no-repeat center;
	background-size: 60%;
}
.page .right:hover span{
	background-image: url(mi/arrow-right-hover.png);
}
.page .right input:checked ~ span{
	background-image: url(mi/arrow-right-active.png);
}
.flash-go>.flash-go-item{
	float: left;
	background-color: #f1eded;
	text-align: center;
}
.flash-go>.flash-go-item span{
	display: block;
	width: 100%;
}
.flash-go>.flash-go-item .title{
	font-size: 24px;
	margin-top: 50px;
	color: #E53934;
}
.flash-go>.flash-go-item .tip{
	font-size: 16px;
	color: #6F6D6D;
}
.flash-go>.flash-go-item img{
	margin:30px 0;
}
.flash-go>.flash-go-item .time{
	color: #605751;
	font-size: 30px;
	margin-top: 30px;
}
.flash-go>.flash-go-item .time span{
	display: inline-block;
	background-color: #605751;
	width: 46px;
	height: 46px;
	vertical-align: middle;
	color: #fff;
	font-size: 22px;
	line-height: 46px;
}
.flash-go-item{
	width: 234px;
	height: 339px;
	border-top:1px solid;
	margin-right: 15px;
}
.flash-slider{
	width: 981px;
	height: 340px;
	float: left;
	overflow: hidden;
}
.flash-slider .flash-go-item{
	float: left;
	background-color: #FAFAFA;
}
.flash-slider img{
	width: 70%;
	margin-left:15%;
	margin-top: 40px;
}
.flash-slider a div,.sale-products .right-list a div{
	width: 100%;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}
/* 卖场 */
.sale{
	width: 100%;
	background-color: #f5f5f5;
	font-size: 0;
	margin-top: 40px;
	border:1px solid rgba(0,0,0,0);
}
.sale-main{
	width: 1230px;
	margin:0 auto;
	height: auto;
	margin-top: 40px;
}
/* 查看全部 */
.sale-box-view-all{
	float: right;
	font-size: 16px;
	margin-top: 5px;
	height: 24px;
}
.sale-box-view-all span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(mi/arrow-r-normal.png) no-repeat center;
	background-size: 100%;
	vertical-align: middle;
	margin-top: -4px;
}
.sale-box-view-all:hover{
	color: #ff6700;
	transition: .1s linear;
}
.sale-box-view-all:hover span{
	background-image: url(mi/arrow-r-hover.png);
	transition: .2s linear;
}
/* 热评产品 */
.pd-buzz{
	width: 100%;
	height: 461px;
	font-size: 0;
}
.buzz{
	width: 100%;
	height: 416px;
}
.buzz li{
	float: left;
	width: calc(1185px * 0.25);
	height:100%;
	margin-left: 15px;
	background-color: #fff;
}
.buzz li:first-child{
	margin:0;
}
.buzz li img{
	width: 100%;
}
.buzz-content{
	width: 250px;
	height: 130px;
	margin:0 auto;
	margin-top: 33px;
}
.buzz-content p{
	margin:0;
}
.buzz-content .buzz-comment{
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	height: 60px;
}
.buzz-content .buzz-author{
	width: 100%;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	color: #d0d0d0;
	margin-top: 25px;
}
.buzz-content .buzz-pd{
	line-height: 20px;
	font-size: 14px;
	color: #d0d0d0;
	margin-top: 10px;
}
.buzz-content .buzz-pd-name{
	color: #333;
}
.buzz-content .buzz-pd-price{
	color: #ff6700;
}
/* 内容 */
.details{
	width: 100%;
	height: 467px;
	font-size: 0;
	margin-bottom: 20px;
}
.detail-list{
	width: 100%;
	height: 420px;
}
.detail-list>li{
	width: calc(1185px * 0.25);
	height: 100%;
	float: left;
	background-color: #fff;
	margin-left: 15px;
	border-top:2px solid;
	position: relative;
	overflow: hidden;
}
.detail-list>li:first-child{
	margin:0;
}
.detail-cate{
	font-size: 16px;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.detail-list>li input{
	display: none;
}
.detail-list>li input:checked + label.slide-label{
	border-color:#ff6700;
	background-color: #fff;
	transition: .2s linear;
}
.detail-list>li label.slide-label{
	position: absolute;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #b0b0b0;
	border:2px solid #fff;
	bottom: 24px;
	transition: background-color .2s linear,border-color .2s linear;
}
/*.detail-list>li label:last-child{
	margin:0;
}*/
.detail-list>li .slide-label:nth-of-type(1){
	left: 50%;
	margin-left:-50px;
}
.detail-list>li .slide-label:nth-of-type(4){
	left: 50%;
	margin-left:-20px;
}
.detail-list>li .slide-label:nth-of-type(7){
	left: 50%;
	margin-left:10px;
}
.detail-list>li .slide-label:nth-of-type(10){
	left: 50%;
	margin-left:40px;
}
.detail-list>li .slide-label:hover{
	background-color: #ff6700;
}
.detail-pd{
	width: 400%;
	height: 280px;
	position: absolute;
	left: 0px;
	transition: left .4s;
}
.detail-list>li:first-of-child .detail-pd{
	width: 300%;
}
.detail-pd li{
	display: inline-block;
	width:calc(1185px * 0.25);
	height: 100%;
}

/* 右滑 */
#app-page-right:checked ~ input:nth-of-type(1):checked ~ .detail-pd{
	left: calc(-1185px * 0.25);
}
#app-page-right:checked ~ input:nth-of-type(2):checked ~ .detail-pd{
	left: calc(-1185px * 0.5);
}
#app-page-right:checked ~ input:nth-of-type(3):checked ~ .detail-pd{
	left: calc(-1185px * 0.75);
}
/* 左滑 */
.detail-list>li input:nth-of-type(1):checked ~ .detail-pd{
	left: 0;
}
.detail-list>li input:nth-of-type(2):checked ~ .detail-pd{
	left: calc(-1185px * 0.25);
}
.detail-list>li input:nth-of-type(3):checked ~ .detail-pd{
	left: calc(-1185px * 0.5);
}

.detail-list>li input:nth-of-type(4):checked ~ .detail-pd{
	left: calc(-1185px * 0.75);
}
.detail-list>li:hover input.slide:checked + label + label.page-left{
	display: block;
	opacity: 1;
	
	xtransition: opacity .4s;
}
.detail-list>li:hover input.slide:checked + label + label.page-left + label.page-right{
	display: block;
	opacity: 1;
	xtransition:opacity .4s;
}

.detail-pd li{
	vertical-align: top;
}
.detail-pd img{
	display: block;
	width: 70%;
	margin:0 auto;
}
.detail-pd p{
	margin:0 auto;
	padding:0;
	text-align: center;
}
.detail-title{
	width: 100%;
	height: 30px;
	font-size: 22px;
	color: #333;
	line-height: 30px;
}
.detail-intro{
	width: 70%;
	font-size: 12px;
	height: 40px;
	line-height: 20px;
	color: #b0b0b0;
}
.detail-price{
	width: 100%;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	color: #333;
}
.detail-pd .detail-view-more{
	width: 100%;
	height: 50px;
	xline-height: 40px;
	xmargin:10px 0;
	xbackground-color: red;
	margin-bottom: 30px;
}
.detail-view-more span{
	display: inline-block;
	font-size: 12px;
	width: 120px;
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	border:1px solid;
}
/*.detail-view-more span:hover{
	background-color: #ff6700;
	color: #fff;
	border-color:#ff6700;
	transition: .3s;
}*/

.detail-list>li:hover .detail-page{
	xopacity: 1;
}
/* 内容翻页 */
.detail-page{
	display: inline-block;
	width: 20px;
	height: 50px;
	position: absolute;
	top:50%;
	margin-top:-25px;
	z-index: 10;
	opacity: 0;
	transition: all .4s;
	display: none;
}
.page-left{
	background: url(mi/arrow-left.png) no-repeat center #d9d9d9;
	background-size: 100%;
	left: 0;
}
.page-right{
	background: url(mi/arrow-right.png) no-repeat center #d9d9d9;
	background-size: 100%;
	right: 0;
}
.detail-page:hover{
	background-color: #8e8e8e !important;
	transition: background-color .4s;
}
/* hover效果 */
.detail-view-more span.orange-hover:hover{
	background-color: #FFAC13;
	color: #fff;
	border-color: #FFAC13;
	transition: background-color .4s;
}
.detail-view-more span.green-hover:hover{
	background-color: #83C44E;
	color: #fff;
	border-color: #83C44E;
	transition: background-color .4s;
}
.detail-view-more span.red-hover:hover{
	background-color: #E53935;
	color: #fff;
	border-color: #E53935;
	transition: background-color .4s;
}
.detail-view-more span.blue-hover:hover{
	background-color: #2196F3;
	color: #fff;
	border-color: #2196F3;
	transition: background-color .4s;
}

/* 底部 */
footer{
	height: 100px;
	margin-top: 50px;
}